/*a:link    {color:green;}
a:visited {color:green;}
a:hover   {color:red;}
a:active */

/* Baslangiç - Her sayfada geçen kisimlar için  */
body{
	margin:0px auto;
	padding:0px;
	background-color:#fff;
	width:100%;
	font-size:1.5em;
}
#wrapper{
	margin:0px auto;
	padding:0px;
	/*width:100%;*/
	/*border:#000 solid 5px;*/
	/*background:url(../_image/background/bg_blue_50.png) repeat;*/
}


.info-part{
	border-radius:5px;
	background: url(../../images/background/bg_black_200.png) repeat;
	padding:1% 0%;
	width:84%;
	margin:1% auto;
	overflow:auto;
	padding:3%;
	color:#fff;
}
.info-part-2{
	border-radius:5px;
	background: url(../../images/background/bg_green_200.png) repeat;
	padding:1% 0%;
	width:30%;
	margin:5% auto;
	overflow:auto;
	padding:3%;
	text-align:center;
	color:#633;
	font-weight:bold;
}
.info-part-3{
	border-radius:5px;
	background-color:#006;
	/*background: url(../../images/background/bg_blue_150.png) repeat;*/
	padding:1% 0%;
	width:90%;
	margin:2% auto;
	overflow:auto;
	padding:3%;
	color:#FF0;
}
.info-part-4{
	border-radius:5px;
	background: url(../../images/background/bg_black_200.png) repeat;
	padding:1% 0%;
	width:90%;
	margin:2% auto;
	overflow:auto;
	padding:3%;
	font-size:6em;
	text-align:center;
	color:#FFF;
}
.info-part-5{
	border-radius:5px;
	background: url(../../images/background/bg_red_200.png) repeat;
	padding:1% 0%;
	width:30%;
	margin:5% auto;
	overflow:auto;
	padding:3%;
	text-align:center;
	color:#633;
	font-weight:bold;
}


.info-part-grid-1{
	width:50%;
	float:left;
}
.info-part-grid-2{
	width:50%;
	float:right;
	text-align:right;
	font-size:2.5em;
}

@media screen and (max-width:450px) {
	.info-part-grid-1{
		width:100%;
		float:left;
		text-align:center;
	}
	.info-part-grid-2{
		width:100%;
		float:left;
		text-align:center;
	}
}


.info-part-logo{
	width:1em;
}
 
 
.form-element-1{
	font-size:0.9em;
}
@media screen and (max-width:768px) {
	.form-element-1{
		margin-top:20px;
	}
}
.form-element-2{
	font-size:0.9em;
}

#background{
	position:fixed;
	top:100px;
	left:0px;
	z-index:-999;
	width:100%;
}
#background-image{
	width:100%;
}

#header{
	width:100%;
	background-color:#000;
	overflow:auto;
}


.header-icon{
	width:8%;
	padding:5px;
	float:left;
	overflow:auto;
}
.header-icon-image{
	width:100%;
}
/* Baslangiç - Dil ile ilgili */

/* Bitis - Her sayfada geçen kisimlar için  */





